html
  height: 100%

  body
    min-height: 100%
    font-size: 18px
    font-family: ProximaNovaRegular, Helvetica, Arial, sans-serif;

.bg-gray
  background-color: $hellgrau


.box
  padding: 1px 15px// 1px is just a fix to use p's margin ;-)
