// PN Light
@font-face
  font-family: ProximaNovaLight
  src: url("../fonts/282822-proxima-nova-light-web/ProximaNova-LightWeb.eot")


@font-face
  font-family: ProximaNovaLight
  src: url("../fonts/282822-proxima-nova-light-web/ProximaNova-LightWeb.woff") format("woff")


// PN Regular
@font-face 
  font-family: ProximaNovaRegular
  src: url("../fonts/282824-proxima-nova-regulr-web/ProximaNova-RegularWeb.eot")


@font-face
  font-family: ProximaNovaRegular
  src: url("../fonts/282824-proxima-nova-regular-web/ProximaNova-RegularWeb.woff") format("woff")


// PN Medium
@font-face
  font-family: ProximaNovaMedium
  src: url("../fonts/338658-proxima-nova-medium-web/ProximaNova-MediumWeb.eot")


@font-face
  font-family: ProximaNovaMedium
  src: url("../fonts/338658-proxima-nova-medium-web/ProximaNova-MediumWeb.woff") format("woff")


// PN Bold
@font-face
  font-family: ProximaNovaBold
  src: url("../fonts/282761-proxima-nova-bold-web/ProximaNova-BoldWeb.eot")


@font-face
  font-family: ProximaNovaBold
  src: url("../fonts/282761-proxima-nova-bold-web/ProximaNova-BoldWeb.woff") format("woff")

