h1, h2, h3, h4
  color: $dunkelblau

h1
  &.home
    font-family: ProximaNovaBold
    font-size: 3.5em
    //line-height: 4em
    line-height: 72px

  &.bold
    font-family: ProximaNovaBold
    font-size: 2em
    //line-height: 2.33em
    line-height: 42px

h2
  &.hero
    font-family: ProximaNovaMedium
    font-size: 1.11em
    //line-height: 1.33em
    line-height: 24px
    text-transform: uppercase

  &.light
    font-family: ProximaNovaLight
    font-size: 2em
    //line-height: 2.33em
    line-height: 42px

h3
  font-family: ProximaNovaMedium
  font-size: 1.33em
  //line-height: 1.67em
  line-height: 30px

h4
  font-family: ProximaNovaBold
  font-size: 1em
  //line-height: 1.33em
  line-height: 24px

p
  margin: 20px 0 40px//Just for Demo
  color: $dunkelgrau
  font-family: ProximaNovaregular
  font-size: 1em
  line-height: 1.33em

  strong
    font-family: ProximaNovaBold

  a
    color: $hellblau1
    font-family: ProximaNovaBold

li
  font-family: ProximaNovaregular
  font-size: 1em
  line-height: 1.33em

  strong
    font-family: ProximaNovaBold

  a
    color: $hellblau1
    font-family: ProximaNovaBold


ul
  margin: 0
  padding: 0

  li
    margin-bottom: 1.67em
    margin-left: 15px
    padding-left: 20px
